html{
	scroll-behavior: smooth;

}
body{
	margin: 0%;
	padding: 0%;





}

/*NAV-----------------------------------------------------------------*/

nav{
	display: flex;
	justify-content: space-between;
	background-color: #0E1010;
	color: white;
	border-bottom: 1px solid #272D2B;

	
}
nav h1{
	font-style: italic;
	font-weight: 400;

}
.navlinks{
	display: flex;
	padding-top:1.5rem ;

}
.navlinks li{
	list-style: none;
	margin-right: 1.5rem;

}
.navlinks a{
	text-decoration: none;
	color: #FFF;
	font-family: 'Courier New', monospace;
	font-size: 1.2rem;
	font-weight: 400;
	
}
.gtouch{
	padding: 1rem;
	border-radius: 41px;
    background: #2F3634;

}
@media(max-width:365px){

	.navlinks a{
		font-size: 0.5rem;
	}

}

.togglebox{
	display: flex;
	float: right;
	position: fixed;
	justify-content: center;
	flex-direction: column;
	background-color: #0E1010;
/*	margin-right: 20%;*/
	margin-left: 40%;
	height: 500px;
	border:1px solid #272D2B ;
	z-index: 1;

}
.togglebox li{
	list-style: none;
	margin: 1.5rem;

}
#close{
	color: white;
}
.togglebox a{
	text-decoration: none;
	color: #FFF;
	font-family: 'Courier New', monospace;
	font-size: 1.2rem;
	font-weight: 400;
	
}
@media(max-width:365px){
	.togglebox a{
		font-size: 80%;
	}
}
@media(max-width:289px){
	.togglebox a{
		font-size: 75%;
	}
}
.togglebox{
		display: none;
	}

.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
@media(min-width:744px){

	.navlinks{
	display: flex;
	padding-top:1.5rem;

}


	#Menu{
		display: none;
	}

}

@media(max-width:744px){
	#navli{
		display: none;
	}
}

/*CONTENT------------------------------------------------------------*/

.contentarea{
	display: flex;
	flex-direction: column;
	background-color: #0E1010;


}
.contentarea h3{
	font-style: italic;
	font-weight: 800;

	

}
p{

font-weight: 600;
font-size: 1rem;	


}
.greet{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;


	

}
.greeting{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	margin-top: 5%;
	padding: 5%;
	font-family: 'Courier New', monospace;
	border-radius: 41px;

}
.connect{
	display: flex;
	justify-content: space-between;
	margin-top: 15% ;


}
.connectlinks{
	display: flex;
}
.connectlinks li{

	list-style: none;
	margin-right: 1.5rem;

}
.connectlinks a{
	text-decoration: none;
	color: #FFF;
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	font-weight: 400;
	font-style: ;
}
.projectli{
	padding: 1rem;
	border-radius: 41px;
    background: #2F3634;

}
@media(max-width:335){

	.projectli{
		font-size: 0.5rem;
		padding: 0.3rem;

	}

}
@media(max-width:744px){

	.greeting{

		width: 80%;

	}

	.connectlinks li{

	list-style: none;
	margin-right: 0.5rem;

}
	.connectlinks a{
		font-size: 0.7rem;
		padding: 0.5rem;
	}

	.projectli{
		font-size: 0.7rem;
		padding: 0.5rem;

	}

	.iconli{
	color: black;
	font-size: 1rem;
	margin-left: 1rem;
}


}
@media(max-width:335px){
	.connectlinks a{
		font-size: 0.5rem !important;
	}
}

.iconli{
	color: black;
	font-size: 1.5rem;
	margin-left: 1rem;
}

/*ABOUT----------------------------------------------------------------------*/

.about{
	display: flex;
	margin-top: 10%;
	justify-content: center;
	color:white;
	margin-left: 30%;
	margin-right: 30%;
	
	
}
.description{
	font-family: 'Courier New', monospace;
}
.aboutme{
	font-style: italic;
	font-weight: 400;
	font-size: 2rem;
	margin: 1.5rem;

}
@media(max-width:744px){

	.about{
		margin-left: 5%;
		margin-right: 5%;
		width: 80%;

	}

	.aboutme{
	font-style: italic;
	font-weight: 400;
	font-size: 1.2rem;
	margin: 1rem;

}


}

/*Project--------------------------------------------------------------------*/

.projects{
	display: flex;
	flex-direction: column;
	margin-top: 20%;
	justify-content: center;
	width: 80%;
	margin-left: 10%;
}
.projectn{
	color: white;
	text-align: center;
}
.pgreet{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;


	

}
.pgreeting{
	display: flex;
	color: white;
	flex-direction: column;
	justify-content: center;
	background-color: #0E1010;
	margin-top: 5%;
	padding: 5%;
	font-family: 'Courier New', monospace;
	border-radius: 41px;

}
.pconnect{
	display: flex;
	justify-content: space-between;
	margin-top: 15% ;


}
.connectlinks{
	display: flex;
}
.connectlinks li{

	list-style: none;
	margin-right: 1.5rem;

}
.connectlinks a{
	text-decoration: none;
	color: #FFF;
	font-family: 'Courier New', monospace;
	font-size: 1rem;
	font-weight: 400;
	color: white;
	font-style: ;
}
.projectlip{
	padding: 1rem;
	border-radius: 41px;
    background: #2F3634;
    color: white;

}
@media(max-width:744px){

	.greeting{

		width: 80%;

	}

	.connectlinks li{

	list-style: none;
	margin-right: 0.5rem;

}
	.connectlinks a{
		font-size: 0.7rem;
		padding: 0.5rem;
	}

	.projectli{
		font-size: 0.7rem;
		padding: 0.5rem;

	}

	.iconlip{
	color: white;
	font-size: 1rem;
	margin-left: 1rem;
}

}

.iconlip{
	color: white;
	font-size: 1.5rem;
	margin-left: 1rem;
}


/*FOOTER-----------------------------------------------------------------------------*/
footer{
	margin: 0;
	background-color:#0E1010 ;
	display: flex;
	color: white;
	justify-content: center;
	font-family: 'Courier New', monospace;
	font-size: 0.5rem;
	border-top: 2px solid white;

}

.getintouch{
	margin-top: 10%;
}

.touch{
	text-align: center;
	color: white;
	font-family: 'Courier New', monospace;

}
.iconlig{
	color: white;
	font-size: 1.5rem;
	margin-left: 1rem;
	justify-self: center;


}
.icong{
	margin-left: 45%;
}
@media(max-width:744px){


.icong{
	margin-left: 35%;
}

}

